{
  "printWidth": 100,
  "plugins": ["@prettier/plugin-php", "./utility/format-shortcode.js"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php"
      }
    },
    {
      "files": "*.shortcode",
      "options": {
        "parser": "shortcode"
      }
    }
  ]
}
