.row-align-center {
  .column_container,
  .vc_container-block,
  .container-block,
  [class*="row_col_"] {
    display: flex !important;
    justify-content: center !important;
  }
}

.row-align-right {
  .column_container,
  .vc_container-block,
  .container-block,
  [class*="row_col_"] {
    display: flex !important;
    justify-content: end !important;
  }
}

.row-content-align-bottom {
  .vc_column-inner * {
    height: inherit !important;
    align-items: end !important;
  }
}

.row__hidden {
  display: none !important;
}

// should be "column"
.col-image-cover {
  .vc_column-inner,
  .wpb_wrapper,
  .img-with-aniamtion-wrap,
  .inner,
  .hover-wrap,
  .hover-wrap-inner {
    height: 100% !important;
    width: 100% !important; //has this caused problems yet? i know it shouldn't it was just a late addition
  }

  img {
    @include img-cover-important;
  }
}

.column-align-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

// fix this before next project, they're backwards
.column-align-center {
  .wpb_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.column-justify-center {
  .wpb_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.text-uppercase {
  &,
  * {
    text-transform: uppercase;
  }
}
.text-center {
  &,
  * {
    text-align: center;
  }
}

// .marg-0 {
//   margin: 0 !important;
// }

// .d-block {
//   display: block !important;
// }

// .d-grid {
//   display: grid !important;
// }

// .d-flex {
//   display: flex !important;
// }

// .d-none {
//   display: none !important;
// }

// .flex-col {
//   flex-direction: column !important;
//   display: flex !important;
// }

// .flex-row {
//   flex-direction: row !important;
//   display: flex !important;
// }

// .flex-wrap {
//   flex-wrap: wrap !important;
//   display: flex !important;
// }

// .gap-0 {
//   --column-gap: 0 !important;
//   --row-gap: 0 !important;
//   --gap: 0 !important;
//   column-gap: 0 !important;
//   row-gap: 0 !important;
//   gap: 0 !important;
// }

// .gap-1 {
//   --column-gap: 0.5rem !important;
//   --row-gap: 0.5rem !important;
//   --gap: 0.5rem !important;
//   column-gap: 0.5rem !important;
//   row-gap: 0.5rem !important;
//   gap: 0.5rem !important;
// }

// .gap-2 {
//   --column-gap: 1rem !important;
//   --row-gap: 1rem !important;
//   --gap: 1rem !important;
//   column-gap: 1rem !important;
//   row-gap: 1rem !important;
//   gap: 1rem !important;
// }

// .gap-3 {
//   --column-gap: 2rem !important;
//   --row-gap: 2rem !important;
//   --gap: 2rem !important;
//   column-gap: 2rem !important;
//   row-gap: 2rem !important;
//   gap: 2rem !important;
// }

// .gap-4 {
//   --column-gap: 3rem !important;
//   --row-gap: 3rem !important;
//   --gap: 3rem !important;
//   column-gap: 3rem !important;
//   row-gap: 3rem !important;
//   gap: 3rem !important;
// }

// .gap-5 {
//   --column-gap: 4rem !important;
//   --row-gap: 4rem !important;
//   --gap: 4rem !important;
//   column-gap: 4rem !important;
//   row-gap: 4rem !important;
//   gap: 4rem !important;
// }

// .gap-6 {
//   --column-gap: 6rem !important;
//   --row-gap: 6rem !important;
//   --gap: 6rem !important;
//   column-gap: 6rem !important;
//   row-gap: 6rem !important;
//   gap: 6rem !important;
// }

// .mb-0 {
//   margin-bottom: 0 !important;
// }

// .mb-1 {
//   margin-bottom: 0.5rem !important;
// }

// .mb-2 {
//   margin-bottom: 1rem !important;
// }

// .mb-3 {
//   margin-bottom: 2rem !important;
// }

// .mb-4 {
//   margin-bottom: 3rem !important;
// }

// .mb-5 {
//   margin-bottom: 4rem !important;
// }

// .mb-6 {
//   margin-bottom: 6rem !important;
// }

// .pb-0 {
//   padding-bottom: 0 !important;
// }

// .pb-1 {
//   padding-bottom: 0.5rem !important;
// }

// .pb-2 {
//   padding-bottom: 1rem !important;
// }

// .pb-3 {
//   padding-bottom: 2rem !important;
// }

// .pb-4 {
//   padding-bottom: 3rem !important;
// }

// .pb-5 {
//   padding-bottom: 4rem !important;
// }

// .pb-6 {
//   padding-bottom: 6rem !important;
// }

// .pt-0 {
//   padding-top: 0 !important;
// }

// .pt-1 {
//   padding-top: 0.5rem !important;
// }

// .pt-2 {
//   padding-top: 1rem !important;
// }

// .pt-3 {
//   padding-top: 2rem !important;
// }

// .pt-4 {
//   padding-top: 3rem !important;
// }

// .pt-5 {
//   padding-top: 4rem !important;
// }

// .pt-6 {
//   padding-top: 6rem !important;
// }

// .py-0 {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
// }

// .py-1 {
//   padding-top: 0.5rem !important;
//   padding-bottom: 0.5rem !important;
// }

// .py-2 {
//   padding-top: 1rem !important;
//   padding-bottom: 1rem !important;
// }

// .py-3 {
//   padding-top: 2rem !important;
//   padding-bottom: 2rem !important;
// }

// .py-4 {
//   padding-top: 3rem !important;
//   padding-bottom: 3rem !important;
// }

// .py-5 {
//   padding-top: 4rem !important;
//   padding-bottom: 4rem !important;
// }

// .py-6 {
//   padding-top: 6rem !important;
//   padding-bottom: 6rem !important;
// }

// .m-auto {
//   margin: auto !important;
// }

// .my-auto {
//   margin-top: auto !important;
//   margin-bottom: auto !important;
// }

// .mx-auto {
//   margin-left: auto !important;
//   margin-right: auto !important;
// }

// .h-auto {
//   height: auto !important;
// }

// .h-unset {
//   height: unset !important;
// }

// .w-auto {
//   width: auto !important;
// }

// .w-unset {
//   width: unset !important;
// }

// .w-100 {
//   width: 100% !important;
// }

// .b-rad {
//   border-radius: var(--b-rad) !important;
//   overflow: hidden !important;
// }

// .b-round {
//   border-radius: 1000rem !important;
//   overflow: hidden !important;
// }

// .p-0 {
//   padding: 0 !important;
// }

// .p-1 {
//   padding: 0.5rem !important;
// }

// .p-2 {
//   padding: 1rem !important;
// }

// .p-3 {
//   padding: 2rem !important;
// }

// .p-4 {
//   padding: 3rem !important;
// }

// .p-5 {
//   padding: 4rem !important;
// }

// .p-6 {
//   padding: 6rem !important;
// }

// .text-col-1 {
//   column-count: 1 !important;
// }

// .text-col-2 {
//   column-count: 2 !important;
// }

// .text-col-3 {
//   column-count: 3 !important;
// }

// .text-col-4 {
//   column-count: 4 !important;
// }

// .text-align-center {
//   text-align: center !important;
// }

// .text-gap-0 {
//   column-gap: 0 !important;
// }

// .text-gap-1 {
//   column-gap: 0.5rem !important;
// }

// .text-gap-2 {
//   column-gap: 1rem !important;
// }

// .text-gap-3 {
//   column-gap: 2rem !important;
// }

// .text-gap-4 {
//   column-gap: 3rem !important;
// }

// .text-gap-5 {
//   column-gap: 4rem !important;
// }

// .text-gap-6 {
//   column-gap: 6rem !important;
// }

// .just-center {
//   justify-content: center !important;
// }

// .just-bet {
//   justify-content: space-between !important;
// }

// .just-around {
//   justify-content: space-around !important;
// }

// .mt-0 {
//   margin-top: 0 !important;
// }

// .mt-1 {
//   margin-top: 0.5rem !important;
// }

// .mt-2 {
//   margin-top: 1rem !important;
// }

// .mt-3 {
//   margin-top: 2rem !important;
// }

// .mt-4 {
//   margin-top: 3rem !important;
// }

// .mt-5 {
//   margin-top: 4rem !important;
// }

// .mt-6 {
//   margin-top: 6rem !important;
// }

// .mt-auto {
//   margin-top: auto !important;
// }
// .ml-0 {
//   margin-left: 0 !important;
// }

// .ml-1 {
//   margin-left: 0.5rem !important;
// }

// .ml-2 {
//   margin-left: 1rem !important;
// }

// .ml-3 {
//   margin-left: 2rem !important;
// }

// .ml-4 {
//   margin-left: 3rem !important;
// }

// .ml-5 {
//   margin-left: 4rem !important;
// }

// .ml-6 {
//   margin-left: 6rem !important;
// }

// .ml-auto {
//   margin-left: auto !important;
// }

// .m-0 {
//   margin: 0 !important;
// }

// .m-1 {
//   margin: 0.5rem !important;
// }

// .m-2 {
//   margin: 1rem !important;
// }

// .m-3 {
//   margin: 2rem !important;
// }

// .m-4 {
//   margin: 3rem !important;
// }

// .m-5 {
//   margin: 4rem !important;
// }

// .m-6 {
//   margin: 6rem !important;
// }

// .m-auto {
//   margin: auto !important;
// }

// .mts-0 {
//   margin-top: 0 !important;
// }

// .mts-1 {
//   margin-top: calc(var(--section-text-spacing) * 0.57143) !important;
// }

// .mts-2 {
//   margin-top: calc(var(--section-text-spacing) * 1) !important;
// }

// .mts-3 {
//   margin-top: calc(var(--section-text-spacing) * 1.75) !important;
// }

// .mts-4 {
//   margin-top: calc(var(--section-text-spacing) * 2.25) !important;
// }

// .mts-5 {
//   margin-top: calc(var(--section-text-spacing) * 2.75) !important;
// }

// .mts-6 {
//   margin-top: calc(var(--section-text-spacing) * 3.25) !important;
// }

// .mts-auto {
//   margin-top: auto !important;
// }

// @media (max-width: 91.9375em) {
//   .d-xxl-block {
//     display: block !important;
//   }
//   .d-xxl-grid {
//     display: grid !important;
//   }
//   .d-xxl-flex {
//     display: flex !important;
//   }
//   .d-xxl-none {
//     display: none !important;
//   }
//   .flex-xxl-col {
//     flex-direction: column !important;
//     display: flex !important;
//   }
//   .flex-xxl-row {
//     flex-direction: row !important;
//     display: flex !important;
//   }
//   .gap-xxl-0 {
//     --column-gap: 0 !important;
//     --row-gap: 0 !important;
//     --gap: 0 !important;
//     column-gap: 0 !important;
//     row-gap: 0 !important;
//     gap: 0 !important;
//   }
//   .gap-xxl-1 {
//     --column-gap: 0.5rem !important;
//     --row-gap: 0.5rem !important;
//     --gap: 0.5rem !important;
//     column-gap: 0.5rem !important;
//     row-gap: 0.5rem !important;
//     gap: 0.5rem !important;
//   }
//   .gap-xxl-2 {
//     --column-gap: 1rem !important;
//     --row-gap: 1rem !important;
//     --gap: 1rem !important;
//     column-gap: 1rem !important;
//     row-gap: 1rem !important;
//     gap: 1rem !important;
//   }
//   .gap-xxl-3 {
//     --column-gap: 2rem !important;
//     --row-gap: 2rem !important;
//     --gap: 2rem !important;
//     column-gap: 2rem !important;
//     row-gap: 2rem !important;
//     gap: 2rem !important;
//   }
//   .gap-xxl-4 {
//     --column-gap: 3rem !important;
//     --row-gap: 3rem !important;
//     --gap: 3rem !important;
//     column-gap: 3rem !important;
//     row-gap: 3rem !important;
//     gap: 3rem !important;
//   }
//   .gap-xxl-5 {
//     --column-gap: 4rem !important;
//     --row-gap: 4rem !important;
//     --gap: 4rem !important;
//     column-gap: 4rem !important;
//     row-gap: 4rem !important;
//     gap: 4rem !important;
//   }
//   .gap-xxl-6 {
//     --column-gap: 6rem !important;
//     --row-gap: 6rem !important;
//     --gap: 6rem !important;
//     column-gap: 6rem !important;
//     row-gap: 6rem !important;
//     gap: 6rem !important;
//   }
//   .text-col-xxl-1 {
//     column-count: 1 !important;
//   }
//   .text-col-xxl-2 {
//     column-count: 2 !important;
//   }
//   .text-col-xxl-3 {
//     column-count: 3 !important;
//   }
//   .text-col-xxl-4 {
//     column-count: 4 !important;
//   }
//   .text-align-xxl-center {
//     text-align: center !important;
//   }
//   .just-xxl-center {
//     justify-content: center !important;
//   }
//   .just-xxl-bet {
//     justify-content: space-between !important;
//   }
//   .just-xxl-around {
//     justify-content: space-around !important;
//   }
//   .mt-xxl-0 {
//     margin-top: 0 !important;
//   }
//   .mt-xxl-1 {
//     margin-top: 0.5rem !important;
//   }
//   .mt-xxl-2 {
//     margin-top: 1rem !important;
//   }
//   .mt-xxl-3 {
//     margin-top: 2rem !important;
//   }
//   .mt-xxl-4 {
//     margin-top: 3rem !important;
//   }
//   .mt-xxl-5 {
//     margin-top: 4rem !important;
//   }
//   .mt-xxl-6 {
//     margin-top: 6rem !important;
//   }
//   .mt-xxl-auto {
//     margin-top: auto !important;
//   }
//   .mts-xxl-0 {
//     margin-top: 0 !important;
//   }
//   .mts-xxl-1 {
//     margin-top: calc(var(--section-text-spacing) * 0.57143) !important;
//   }
//   .mts-xxl-2 {
//     margin-top: calc(var(--section-text-spacing) * 1) !important;
//   }
//   .mts-xxl-3 {
//     margin-top: calc(var(--section-text-spacing) * 1.75) !important;
//   }
//   .mts-xxl-4 {
//     margin-top: calc(var(--section-text-spacing) * 2.25) !important;
//   }
//   .mts-xxl-5 {
//     margin-top: calc(var(--section-text-spacing) * 2.75) !important;
//   }
//   .mts-xxl-6 {
//     margin-top: calc(var(--section-text-spacing) * 3.25) !important;
//   }
//   .mts-xxl-auto {
//     margin-top: auto !important;
//   }
// }

// @media (max-width: 79.9375em) {
//   .d-xl-block {
//     display: block !important;
//   }
//   .d-xl-grid {
//     display: grid !important;
//   }
//   .d-xl-flex {
//     display: flex !important;
//   }
//   .d-xl-none {
//     display: none !important;
//   }
//   .flex-xl-col {
//     flex-direction: column !important;
//     display: flex !important;
//   }
//   .flex-xl-row {
//     flex-direction: row !important;
//     display: flex !important;
//   }
//   .gap-xl-0 {
//     --column-gap: 0 !important;
//     --row-gap: 0 !important;
//     --gap: 0 !important;
//     column-gap: 0 !important;
//     row-gap: 0 !important;
//     gap: 0 !important;
//   }
//   .gap-xl-1 {
//     --column-gap: 0.5rem !important;
//     --row-gap: 0.5rem !important;
//     --gap: 0.5rem !important;
//     column-gap: 0.5rem !important;
//     row-gap: 0.5rem !important;
//     gap: 0.5rem !important;
//   }
//   .gap-xl-2 {
//     --column-gap: 1rem !important;
//     --row-gap: 1rem !important;
//     --gap: 1rem !important;
//     column-gap: 1rem !important;
//     row-gap: 1rem !important;
//     gap: 1rem !important;
//   }
//   .gap-xl-3 {
//     --column-gap: 2rem !important;
//     --row-gap: 2rem !important;
//     --gap: 2rem !important;
//     column-gap: 2rem !important;
//     row-gap: 2rem !important;
//     gap: 2rem !important;
//   }
//   .gap-xl-4 {
//     --column-gap: 3rem !important;
//     --row-gap: 3rem !important;
//     --gap: 3rem !important;
//     column-gap: 3rem !important;
//     row-gap: 3rem !important;
//     gap: 3rem !important;
//   }
//   .gap-xl-5 {
//     --column-gap: 4rem !important;
//     --row-gap: 4rem !important;
//     --gap: 4rem !important;
//     column-gap: 4rem !important;
//     row-gap: 4rem !important;
//     gap: 4rem !important;
//   }
//   .gap-xl-6 {
//     --column-gap: 6rem !important;
//     --row-gap: 6rem !important;
//     --gap: 6rem !important;
//     column-gap: 6rem !important;
//     row-gap: 6rem !important;
//     gap: 6rem !important;
//   }
//   .text-col-xl-1 {
//     column-count: 1 !important;
//   }
//   .text-col-xl-2 {
//     column-count: 2 !important;
//   }
//   .text-col-xl-3 {
//     column-count: 3 !important;
//   }
//   .text-col-xl-4 {
//     column-count: 4 !important;
//   }
//   .text-align-xl-center {
//     text-align: center !important;
//   }
//   .just-xl-center {
//     justify-content: center !important;
//   }
//   .just-xl-bet {
//     justify-content: space-between !important;
//   }
//   .just-xl-around {
//     justify-content: space-around !important;
//   }
//   .mt-xl-0 {
//     margin-top: 0 !important;
//   }
//   .mt-xl-1 {
//     margin-top: 0.5rem !important;
//   }
//   .mt-xl-2 {
//     margin-top: 1rem !important;
//   }
//   .mt-xl-3 {
//     margin-top: 2rem !important;
//   }
//   .mt-xl-4 {
//     margin-top: 3rem !important;
//   }
//   .mt-xl-5 {
//     margin-top: 4rem !important;
//   }
//   .mt-xl-6 {
//     margin-top: 6rem !important;
//   }
//   .mt-xl-auto {
//     margin-top: auto !important;
//   }
//   .mts-xl-0 {
//     margin-top: 0 !important;
//   }
//   .mts-xl-1 {
//     margin-top: calc(var(--section-text-spacing) * 0.57143) !important;
//   }
//   .mts-xl-2 {
//     margin-top: calc(var(--section-text-spacing) * 1) !important;
//   }
//   .mts-xl-3 {
//     margin-top: calc(var(--section-text-spacing) * 1.75) !important;
//   }
//   .mts-xl-4 {
//     margin-top: calc(var(--section-text-spacing) * 2.25) !important;
//   }
//   .mts-xl-5 {
//     margin-top: calc(var(--section-text-spacing) * 2.75) !important;
//   }
//   .mts-xl-6 {
//     margin-top: calc(var(--section-text-spacing) * 3.25) !important;
//   }
//   .mts-xl-auto {
//     margin-top: auto !important;
//   }
// }

// @media (max-width: 61.9375em) {
//   .d-lg-block {
//     display: block !important;
//   }
//   .d-lg-grid {
//     display: grid !important;
//   }
//   .d-lg-flex {
//     display: flex !important;
//   }
//   .d-lg-none {
//     display: none !important;
//   }
//   .flex-lg-col {
//     flex-direction: column !important;
//     display: flex !important;
//   }
//   .flex-lg-row {
//     flex-direction: row !important;
//     display: flex !important;
//   }
//   .gap-lg-0 {
//     --column-gap: 0 !important;
//     --row-gap: 0 !important;
//     --gap: 0 !important;
//     column-gap: 0 !important;
//     row-gap: 0 !important;
//     gap: 0 !important;
//   }
//   .gap-lg-1 {
//     --column-gap: 0.5rem !important;
//     --row-gap: 0.5rem !important;
//     --gap: 0.5rem !important;
//     column-gap: 0.5rem !important;
//     row-gap: 0.5rem !important;
//     gap: 0.5rem !important;
//   }
//   .gap-lg-2 {
//     --column-gap: 1rem !important;
//     --row-gap: 1rem !important;
//     --gap: 1rem !important;
//     column-gap: 1rem !important;
//     row-gap: 1rem !important;
//     gap: 1rem !important;
//   }
//   .gap-lg-3 {
//     --column-gap: 2rem !important;
//     --row-gap: 2rem !important;
//     --gap: 2rem !important;
//     column-gap: 2rem !important;
//     row-gap: 2rem !important;
//     gap: 2rem !important;
//   }
//   .gap-lg-4 {
//     --column-gap: 3rem !important;
//     --row-gap: 3rem !important;
//     --gap: 3rem !important;
//     column-gap: 3rem !important;
//     row-gap: 3rem !important;
//     gap: 3rem !important;
//   }
//   .gap-lg-5 {
//     --column-gap: 4rem !important;
//     --row-gap: 4rem !important;
//     --gap: 4rem !important;
//     column-gap: 4rem !important;
//     row-gap: 4rem !important;
//     gap: 4rem !important;
//   }
//   .gap-lg-6 {
//     --column-gap: 6rem !important;
//     --row-gap: 6rem !important;
//     --gap: 6rem !important;
//     column-gap: 6rem !important;
//     row-gap: 6rem !important;
//     gap: 6rem !important;
//   }
//   .text-col-lg-1 {
//     column-count: 1 !important;
//   }
//   .text-col-lg-2 {
//     column-count: 2 !important;
//   }
//   .text-col-lg-3 {
//     column-count: 3 !important;
//   }
//   .text-col-lg-4 {
//     column-count: 4 !important;
//   }
//   .text-align-lg-center {
//     text-align: center !important;
//   }
//   .just-lg-center {
//     justify-content: center !important;
//   }
//   .just-lg-bet {
//     justify-content: space-between !important;
//   }
//   .just-lg-around {
//     justify-content: space-around !important;
//   }
//   .mt-lg-0 {
//     margin-top: 0 !important;
//   }
//   .mt-lg-1 {
//     margin-top: 0.5rem !important;
//   }
//   .mt-lg-2 {
//     margin-top: 1rem !important;
//   }
//   .mt-lg-3 {
//     margin-top: 2rem !important;
//   }
//   .mt-lg-4 {
//     margin-top: 3rem !important;
//   }
//   .mt-lg-5 {
//     margin-top: 4rem !important;
//   }
//   .mt-lg-6 {
//     margin-top: 6rem !important;
//   }
//   .mt-lg-auto {
//     margin-top: auto !important;
//   }
//   .mts-lg-0 {
//     margin-top: 0 !important;
//   }
//   .mts-lg-1 {
//     margin-top: calc(var(--section-text-spacing) * 0.57143) !important;
//   }
//   .mts-lg-2 {
//     margin-top: calc(var(--section-text-spacing) * 1) !important;
//   }
//   .mts-lg-3 {
//     margin-top: calc(var(--section-text-spacing) * 1.75) !important;
//   }
//   .mts-lg-4 {
//     margin-top: calc(var(--section-text-spacing) * 2.25) !important;
//   }
//   .mts-lg-5 {
//     margin-top: calc(var(--section-text-spacing) * 2.75) !important;
//   }
//   .mts-lg-6 {
//     margin-top: calc(var(--section-text-spacing) * 3.25) !important;
//   }
//   .mts-lg-auto {
//     margin-top: auto !important;
//   }
// }

// @media (max-width: 49.9375em) {
//   .d-md-block {
//     display: block !important;
//   }
//   .d-md-grid {
//     display: grid !important;
//   }
//   .d-md-flex {
//     display: flex !important;
//   }
//   .d-md-none {
//     display: none !important;
//   }
//   .flex-md-col {
//     flex-direction: column !important;
//     display: flex !important;
//   }
//   .flex-md-row {
//     flex-direction: row !important;
//     display: flex !important;
//   }
//   .gap-md-0 {
//     --column-gap: 0 !important;
//     --row-gap: 0 !important;
//     --gap: 0 !important;
//     column-gap: 0 !important;
//     row-gap: 0 !important;
//     gap: 0 !important;
//   }
//   .gap-md-1 {
//     --column-gap: 0.5rem !important;
//     --row-gap: 0.5rem !important;
//     --gap: 0.5rem !important;
//     column-gap: 0.5rem !important;
//     row-gap: 0.5rem !important;
//     gap: 0.5rem !important;
//   }
//   .gap-md-2 {
//     --column-gap: 1rem !important;
//     --row-gap: 1rem !important;
//     --gap: 1rem !important;
//     column-gap: 1rem !important;
//     row-gap: 1rem !important;
//     gap: 1rem !important;
//   }
//   .gap-md-3 {
//     --column-gap: 2rem !important;
//     --row-gap: 2rem !important;
//     --gap: 2rem !important;
//     column-gap: 2rem !important;
//     row-gap: 2rem !important;
//     gap: 2rem !important;
//   }
//   .gap-md-4 {
//     --column-gap: 3rem !important;
//     --row-gap: 3rem !important;
//     --gap: 3rem !important;
//     column-gap: 3rem !important;
//     row-gap: 3rem !important;
//     gap: 3rem !important;
//   }
//   .gap-md-5 {
//     --column-gap: 4rem !important;
//     --row-gap: 4rem !important;
//     --gap: 4rem !important;
//     column-gap: 4rem !important;
//     row-gap: 4rem !important;
//     gap: 4rem !important;
//   }
//   .gap-md-6 {
//     --column-gap: 6rem !important;
//     --row-gap: 6rem !important;
//     --gap: 6rem !important;
//     column-gap: 6rem !important;
//     row-gap: 6rem !important;
//     gap: 6rem !important;
//   }
//   .text-col-md-1 {
//     column-count: 1 !important;
//   }
//   .text-col-md-2 {
//     column-count: 2 !important;
//   }
//   .text-col-md-3 {
//     column-count: 3 !important;
//   }
//   .text-col-md-4 {
//     column-count: 4 !important;
//   }
//   .text-align-md-center {
//     text-align: center !important;
//   }
//   .just-md-center {
//     justify-content: center !important;
//   }
//   .just-md-bet {
//     justify-content: space-between !important;
//   }
//   .just-md-around {
//     justify-content: space-around !important;
//   }
//   .mt-md-0 {
//     margin-top: 0 !important;
//   }
//   .mt-md-1 {
//     margin-top: 0.5rem !important;
//   }
//   .mt-md-2 {
//     margin-top: 1rem !important;
//   }
//   .mt-md-3 {
//     margin-top: 2rem !important;
//   }
//   .mt-md-4 {
//     margin-top: 3rem !important;
//   }
//   .mt-md-5 {
//     margin-top: 4rem !important;
//   }
//   .mt-md-6 {
//     margin-top: 6rem !important;
//   }
//   .mt-md-auto {
//     margin-top: auto !important;
//   }
//   .mts-md-0 {
//     margin-top: 0 !important;
//   }
//   .mts-md-1 {
//     margin-top: calc(var(--section-text-spacing) * 0.57143) !important;
//   }
//   .mts-md-2 {
//     margin-top: calc(var(--section-text-spacing) * 1) !important;
//   }
//   .mts-md-3 {
//     margin-top: calc(var(--section-text-spacing) * 1.75) !important;
//   }
//   .mts-md-4 {
//     margin-top: calc(var(--section-text-spacing) * 2.25) !important;
//   }
//   .mts-md-5 {
//     margin-top: calc(var(--section-text-spacing) * 2.75) !important;
//   }
//   .mts-md-6 {
//     margin-top: calc(var(--section-text-spacing) * 3.25) !important;
//   }
//   .mts-md-auto {
//     margin-top: auto !important;
//   }
// }

// @media (max-width: 36.9375em) {
//   .d-sm-block {
//     display: block !important;
//   }
//   .d-sm-grid {
//     display: grid !important;
//   }
//   .d-sm-flex {
//     display: flex !important;
//   }
//   .d-sm-none {
//     display: none !important;
//   }
//   .flex-sm-col {
//     flex-direction: column !important;
//     display: flex !important;
//   }
//   .flex-sm-row {
//     flex-direction: row !important;
//     display: flex !important;
//   }
//   .gap-sm-0 {
//     --column-gap: 0 !important;
//     --row-gap: 0 !important;
//     --gap: 0 !important;
//     column-gap: 0 !important;
//     row-gap: 0 !important;
//     gap: 0 !important;
//   }
//   .gap-sm-1 {
//     --column-gap: 0.5rem !important;
//     --row-gap: 0.5rem !important;
//     --gap: 0.5rem !important;
//     column-gap: 0.5rem !important;
//     row-gap: 0.5rem !important;
//     gap: 0.5rem !important;
//   }
//   .gap-sm-2 {
//     --column-gap: 1rem !important;
//     --row-gap: 1rem !important;
//     --gap: 1rem !important;
//     column-gap: 1rem !important;
//     row-gap: 1rem !important;
//     gap: 1rem !important;
//   }
//   .gap-sm-3 {
//     --column-gap: 2rem !important;
//     --row-gap: 2rem !important;
//     --gap: 2rem !important;
//     column-gap: 2rem !important;
//     row-gap: 2rem !important;
//     gap: 2rem !important;
//   }
//   .gap-sm-4 {
//     --column-gap: 3rem !important;
//     --row-gap: 3rem !important;
//     --gap: 3rem !important;
//     column-gap: 3rem !important;
//     row-gap: 3rem !important;
//     gap: 3rem !important;
//   }
//   .gap-sm-5 {
//     --column-gap: 4rem !important;
//     --row-gap: 4rem !important;
//     --gap: 4rem !important;
//     column-gap: 4rem !important;
//     row-gap: 4rem !important;
//     gap: 4rem !important;
//   }
//   .gap-sm-6 {
//     --column-gap: 6rem !important;
//     --row-gap: 6rem !important;
//     --gap: 6rem !important;
//     column-gap: 6rem !important;
//     row-gap: 6rem !important;
//     gap: 6rem !important;
//   }
//   .text-col-sm-1 {
//     column-count: 1 !important;
//   }
//   .text-col-sm-2 {
//     column-count: 2 !important;
//   }
//   .text-col-sm-3 {
//     column-count: 3 !important;
//   }
//   .text-col-sm-4 {
//     column-count: 4 !important;
//   }
//   .text-align-sm-center {
//     text-align: center !important;
//   }
//   .just-sm-center {
//     justify-content: center !important;
//   }
//   .just-sm-bet {
//     justify-content: space-between !important;
//   }
//   .just-sm-around {
//     justify-content: space-around !important;
//   }
//   .mt-sm-0 {
//     margin-top: 0 !important;
//   }
//   .mt-sm-1 {
//     margin-top: 0.5rem !important;
//   }
//   .mt-sm-2 {
//     margin-top: 1rem !important;
//   }
//   .mt-sm-3 {
//     margin-top: 2rem !important;
//   }
//   .mt-sm-4 {
//     margin-top: 3rem !important;
//   }
//   .mt-sm-5 {
//     margin-top: 4rem !important;
//   }
//   .mt-sm-6 {
//     margin-top: 6rem !important;
//   }
//   .mt-sm-auto {
//     margin-top: auto !important;
//   }
//   .mts-sm-0 {
//     margin-top: 0 !important;
//   }
//   .mts-sm-1 {
//     margin-top: calc(var(--section-text-spacing) * 0.57143) !important;
//   }
//   .mts-sm-2 {
//     margin-top: calc(var(--section-text-spacing) * 1) !important;
//   }
//   .mts-sm-3 {
//     margin-top: calc(var(--section-text-spacing) * 1.75) !important;
//   }
//   .mts-sm-4 {
//     margin-top: calc(var(--section-text-spacing) * 2.25) !important;
//   }
//   .mts-sm-5 {
//     margin-top: calc(var(--section-text-spacing) * 2.75) !important;
//   }
//   .mts-sm-6 {
//     margin-top: calc(var(--section-text-spacing) * 3.25) !important;
//   }
//   .mts-sm-auto {
//     margin-top: auto !important;
//   }
// }
